# 索引器配置
ENVIRONMENT=production
DB_PATH=/data/atep.db

# 合约轮询器配置
SUI_RPC_URL=https://fullnode.devnet.sui.io:443
INDEXER_URL=https://indexer.atep.work
PACKAGE_ID=0x955313e42d8b2e7e34c435dd35c3c727043721a1c7c07eb3a3b0ecbdece9c9
POLL_INTERVAL=60

# Nostr 轮询器配置（可选）
RELAY_URLS=wss://relay.damus.io,wss://nos.lol,wss://offchain.pub
